<div class="container shadow py-4">
    <div class="text-end">
        <button type="button" (click)="changeState()" class="btn ">
            <i [ngClass]="['bi bi-toggle-off ' + ( isOn ? iconOnClass : iconOffClass) ]"></i>
        </button>
    </div>
    <div class="row">
        <div class="row col-12 p-3">
            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h5>
                    Device
                </h5>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h6>
                    Smart House
                </h6>
            </div>
        </div>

        <div class="row col-12 p-3">

            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h5>
                    Room
                </h5>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h6>
                    Living room
                </h6>
            </div>
        </div>
        <div class="row col-12 p-3">

            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h5>
                    Floor
                </h5>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h6>
                    Floor 2
                </h6>
            </div>
        </div>
        <div class="row col-12 p-3">

            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h5>
                    Status
                </h5>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-6">
                <h6>
                    ON
                </h6>
            </div>
        </div>
    </div>
</div>