.iconOff{
    color: #FF5959 !important;
    font-size: 2.5rem !important;
}
.iconOn{
    color: #80ED99 !important;
    font-size: 2.5rem !important;
}

.status-btn{
    border: none;
    color: transparent;
    background-color: transparent;
}