
 
/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
    padding: 30px 0;
  }
  .features .content .icon-box {
    margin-top: 25px;
  }
  .features .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
  }
  .features .content .icon-box i {
    font-size: 48px;
    float: left;
    color: #106eea;
  }
  .features .content .icon-box p {
    font-size: 15px;
    color: #979aa1;
    margin-left: 60px;
  }
  @media (max-width: 991px) {
    .features .image {
      text-align: center;
    }
    .features .image img {
      max-width: 80%;
    }
  }
  @media (max-width: 667px) {
    .features .image img {
      max-width: 100%;
    }
  }

