<div class="global-contant">

    <div class="hero">
        <div class=" row align-items-center">
            <div class="col-lg-6 text-center ">
                <div class="container">
                    <h4 class="fs-1">
                    Control Your Home From Your Phone
                </h4>
                <p class="fs-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti iure beatae quisquam fugit.
                    Molestias vitae ducimus earum, quasi dicta maxime nam sit? Quidem, qui consectetur eligendi porro
                    quam voluptatem aspernatur.
                </p>
                </div>
                

            </div>
            <div class="col-lg-6">
                <img src="/assets/svg/Smarthome.svg" alt="">

            </div>

        </div>

    </div>



</div>