<div class="">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New
        Divace</button>
    <div class="modal fade text-start" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New divace</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="divace_name" class="col-form-label">Divace name :</label>
                            <input [ngClass]="[ divace_name.touched && divace_name.invalid ? 'is-invalid': '']" type="text" class="form-control" required #divace_name="ngModel" ngModel
                                 name="divace_name" placeholder="divace name">

                            <div  *ngIf="divace_name.touched && divace_name.invalid"
                                class="alert alert-danger d-flex align-items-center my-2" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                    aria-label="Danger:">
                                    <use xlink:href="#exclamation-triangle-fill" />
                                </svg>
                                <div>
                                    An example danger alert with an icon
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="floor_number" class="col-form-label">Floor number:</label>
                            <input type="number" value="1" min="1" max="10" class="form-control" name="floor_number"
                                [(ngModel)]="floor_number" id="floor_number">
                        </div>
                        <div class="mb-3">
                            <label for="room_type" class="col-form-label">Room type :</label>
                            <input type="text" class="form-control " [(ngModel)]="room_type" name="room_type"
                                id="room_type">
                        </div>

                        <div class="form-check form-switch mb-3 ">
                            <input class="form-check-input fs-5 " type="checkbox" [(ngModel)]="status_divace"
                                name="status_divace" id="status_divace">
                            <label class="form-check-label" for="status_divace">Divace status </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" [ngClass]="[divace_name.invalid ? 'disabled': '']" value="Save divace" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>