<app-navbar></app-navbar>
<h1 class="text-muted">This is my application Angular</h1>
<h1 class="text-muted mb-5">{{descriptin}}</h1>

<div class="container-fluid row">
    <div class="col-lg-3 col-md-4 col-sm-10 col-12">
        <app-device-page></app-device-page>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-10 col-12">
        <app-device-page></app-device-page>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-10 col-12 ">
        <app-device-page></app-device-page>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-10 col-12 ">
        <app-device-page></app-device-page>
    </div>

</div>