<div class="container-fluid row">
    <!-- <h2>Welcome back {{userProfile?.username}}</h2> -->
    <hr />


    <div class="container">

        <hr>

        <div *ngFor="let divace of divaces" class="col-lg-3 col-md-4 col-sm-10 col-12 mb-5">
            <app-device-page (onDeleteDivace)="deleteDivase(divace)" [divace]="divace"></app-device-page>
        </div>
        <hr>


        <!-- <div *ngFor="let floor of userProfile?.house?.floor" class="shadow my-4 p-3">
            <h3 class="ps-4 my-3 ">
                Floor number : {{floor.number}}
            </h3>
            <div *ngFor="let room of floor.room" class="row justify-content-center my-2">
                

            </div> -->

        <!-- </div> -->

    </div>
</div>